/* Fortação Padrão */
:root {
  --cor-menu: #ff6600;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  color: #404040;
  font-size: 1.728rem;
  line-height: 1.6;
  background-color: #f0f2f4;
  text-align: center;
}

h1 {
  font-size: 3.583rem;
}

/* Header Logo Seleção Brasileira e site Oficial */
header {
  background-image: url(HD-wallpaper-selecao-brasileira-bola-brasil-camisa-futebool.jpg);
  background-size: cover;
  background-position: left center;
}

.logo-site-oficial {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.441rem;

  & img {
    width: 10rem;
  }

  & a {
    text-decoration: none;
    font-weight: 600;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: black;
    }
  }
}

/* Cabeçalho com título H1 da Página */
.cabecalho-titulo {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1.953rem;
}

/* Paginação Títulos Mundiais */
.titulos-mundiais {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  column-gap: 2.441rem;
  margin: 1.563rem;
  margin-bottom: 3.052rem;
  position: relative;

  & .bola-futebol {
    width: 5rem;
    grid-row: 1 / 6;
    align-self: self-end;

    & img {
      width: 100%;
      background-color: #f0f2f4;
      border-radius: 50%;
      box-shadow: inset -0.5rem -0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.7),
        0 2rem 0.8rem -0.5rem rgba(0, 0, 0, 0.4);
      animation: 4s linear infinite alternate running bola;
    }
  }

  & .link-titulo {
    width: max-content;
    text-decoration: none;
    font-size: 2.488rem;
    position: relative;

    &:link,
    &:visited,
    &:active {
      color: #404040;
    }

    &:hover {
      color: #f0f2f4;
    }

    &:hover::before {
      content: "";
      position: absolute;
      background-color: #0b8007;
      border-radius: 2rem;
      width: 12rem;
      height: 4rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}

/* Acordeão curiosidas das Copas vencidas pela Seleção Brasileira */
.acordeao {
  display: flex;
  flex-flow: column;
  gap: 1.953rem;
  margin-bottom: 3.052rem;

  & .acordeao-curiosidades {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    box-shadow: inset 0rem 0rem 0.3rem 0rem #112e61b0;
    text-align: left;
    margin: 0 1.953rem;
    border-radius: 2.5rem;

    & .acordeao-titulo {
      display: flex;
      flex-flow: column;
      align-items: stretch;
    }

    & .acordeao-titulo,
    .acordeao-selecionado {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      gap: 1.953rem;
      padding: 1.953rem;
      cursor: pointer;
    }

    .acordeao-selecionado {
      background-color: rgb(15, 5, 156);
      color: #f0f2f4;
      border-top-left-radius: 2.5rem;
      border-top-right-radius: 2.5rem;
    }

    & .conteudo,
    .conteudo-selecionado {
      padding: 1.953rem;
      padding-top: 1.25rem;
      background-color: rgb(255, 246, 199);
      border-end-start-radius: 2.5rem;
      border-end-end-radius: 2.5rem;
      box-shadow: inset 0rem 0rem 0.3rem 0rem #112e61b0;
    }

    & .conteudo {
      display: none;
    }

    & .conteudo-selecionado {
      display: flex;
    }
  }
}

/* Outros títulos importantes da Seleção Brasileira */
.Outros-Titulos {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 3.052rem 1.563rem;

  & h2 {
    margin-bottom: 1.563rem;
  }

  & .imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 0.8rem;
    max-width: 100rem;

    & .imagem {
      aspect-ratio: 16/9;

      & img {
        width: min(
          calc(calc(100rem - calc(2 * 0.8rem)) / 2),
          calc(calc(100vw - calc(2 * 0.8rem)) / 2)
        );
        border-radius: 1.5rem;
      }
      & figcaption {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
      }
    }

    /* & .botao {
      font-size: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 0.4 0 black;
      width: 3rem;
      height: 3rem;
      color: #f0f2f4;
      z-index: 1;
      position: absolute;
      font-size: 3.5rem;
      border-radius: 0.5rem;
      cursor: pointer;

      &.esquerdo {
        top: 25%;
        transform: translateX(-50%);
      }
      &.direito {
        top: 25%;
        right: 0;
        transform: translateX(50%);
      }
    } */
  }
}

/* Popup da Página */
.popup-aberto {
  & .popup {
    /* display: flex; */
  }
}
.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);

  & .container {
    display: flex;
    flex-flow: column;
    gap: 2.441rem;
    position: relative;
    padding: 2.441rem;
    background-color: rgb(255, 246, 199);
    border: 1px solid black;
    box-shadow: inset 0rem 0rem 0.3rem 0rem #112e61b0;
    border-radius: 2.5rem;
    width: 70rem;

    & .conteudo-popup {
      display: flex;
      flex-flow: column;
      gap: 0.262rem;
    }
    & .botao a {
      text-decoration: none;
      color: inherit;
      background-color: #f0f2f4;
      border: #404040 1px solid;
      border-bottom: #404040 3px solid;
      border-right: #404040 3px solid;
      padding: 0.512rem 1.953rem;
      border-radius: 2.5rem;

      &:hover {
        border: #404040 2px solid;
      }
    }

    & .fechar {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      width: 3rem;
      top: 1rem;
      right: 1rem;
      cursor: pointer;

      &:hover {
        border: #404040 1px solid;
      }
    }
  }
}

@keyframes bola {
  0% {
    transform: translateY(0);
    box-shadow: inset -0.5rem -0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.7),
      0 2rem 0.8rem -0.5rem rgba(0, 0, 0, 0.4);
  }

  33% {
    transform: translateY(-3rem);
    box-shadow: inset -0.5rem -0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.7),
      0 5rem 0.8rem 0.3rem rgba(0, 0, 0, 0.4);
  }

  67% {
    transform: translateY(0px);
    box-shadow: inset -0.5rem -0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.7),
      0 2rem 0.8rem -0.5rem rgba(0, 0, 0, 0.4);
  }

  100% {
    transform: translateY(-14rem);
    box-shadow: inset -0.5rem -0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.7),
      0 16rem 0.8rem 0.7rem rgba(0, 0, 0, 0.4);
  }
}
