/* Fortação Padrão */
:root {
  --cor-menu: #ff6600;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  color: #404040;
  font-size: 1.728rem;
  line-height: 1.6;
  background-color: #f0f2f4;
  text-align: center;
}

h1 {
  font-size: 3.583rem;
}

/* Header Logo Seleção Brasileira e site Oficial */
header {
  background-image: url(HD-wallpaper-selecao-brasileira-bola-brasil-camisa-futebool.jpg);
  background-size: cover;
  background-position: left center;
}

.logo-site-oficial {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.441rem;

  & img {
    width: 10rem;
  }

  & a {
    text-decoration: none;
  }

  & a:link,
  a:visited,
  a:hover,
  a:active {
    color: black;
  }
}

/* Cabeçalho com título H1 da Página */
.cabecalho-titulo {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1.953rem;
}

/* Paginação Títulos Mundiais */
.titulos-mundiais {
  display: flex;
  flex-flow: column;
  margin: 1.563rem;
  margin-bottom: 3.052rem;

  & .link-titulo {
    text-decoration: none;
    font-size: 2.488rem;
    position: relative;
  }

  & .link-titulo:link,
  & .link-titulo:visited,
  & .link-titulo:active {
    color: #404040;
  }

  & .link-titulo:hover {
    color: #f0f2f4;
  }

  & .link-titulo:hover::before {
    content: "";
    position: absolute;
    background-color: #0b8007;
    width: 12rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

/* Acordeão curiosidas das Copas vencidas pela Seleção Brasileira */
.acordeao {
  display: flex;
  flex-flow: column;
  gap: 1.953rem;

  & .acordeao-curiosidades {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    box-shadow: inset 0rem 0rem 0.3rem 0rem #112e61b0;
    text-align: left;
    margin: 0 1.953rem;
    border-radius: 2.5rem;

    & .acordeao-titulo {
      display: flex;
      flex-flow: column;
      align-items: stretch;
    }

    & .acordeao-titulo,
    .acordeao-selecionado {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      gap: 1.953rem;
      padding: 1.953rem;
      cursor: pointer;
    }

    .acordeao-selecionado {
      background-color: rgb(17, 3, 209);
      color: #f0f2f4;
      border-top-left-radius: 2.5rem;
      border-top-right-radius: 2.5rem;
    }

    & .conteudo,
    .conteudo-selecionado {
      padding: 1.953rem;
      padding-top: 1.25rem;
    }

    & .conteudo {
      display: none;
    }

    & .conteudo-selecionado {
      display: block;
      background-color: rgb(255, 246, 199);
      border-end-start-radius: 2.5rem;
      border-end-end-radius: 2.5rem;
      box-shadow: inset 0rem 0rem 0.3rem 0rem #112e61b0;
    }
  }
}
